<h1>Lists</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @lists.each do |list| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <nav class="nav nav-pills flex-column flex-sm-row">
            <div class="flex-sm-fill text-sm-center nav-link" aria-current="page"><%= link_to 'Show', list %></div>
            <div class="flex-sm-fill text-sm-center nav-link" aria-current="page"><%= link_to "Edit", edit_list_path(list) %></div>
            <div class="flex-sm-fill text-sm-center nav-link" aria-current="page"><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </nav>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New List', new_list_path %>
