<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% @movies.each do |movie| %>
    <div class="col">
      <div class="card h-100">
        <img src="<%= movie.poster_url %>" class="card-img-top" alt="<%= movie.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text"><%= movie.overview %></p>
        </div>
          <div class="card-footer">
            <p class="card-text"><%= movie.rating %></p>
          </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%# <%= link_to 'New Movie', new_movie_path %>
